.FilterRowContainer {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 90vw;
    height: 30px;
    margin-top: 25px;
    margin-left: 5vw;
    border: 1px solid #555;
    background-color: #121212;
}

.filterItem {
    margin-right: 10px;
}

.loaderContainer {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    height: 50vh;
}

.tableContainer {
    display: flex;
    flex-direction: column;
    border: 1px solid #555;
    width: 90vw;
    margin-left: 5vw;
    margin-top: 50px;
}

.tableRowBorder {
    border: 1px solid #555;
    border-width: 0px;
    border-bottom-width: 1px;
}

.tableRow {
    display: flex;
    flex-direction: row;
    height: 30px;
}

.tableRowRank {
    display: flex;
    color: white;
    justify-content: flex-start;
    align-items: center;
    padding-left: 5px;
    padding-right: 5px;
    text-align: left;
    font-size: 15px;
}
.tableRowName {
    display: flex;
    flex: 50;
    color: white;
    justify-content: flex-start;
    align-items: center;
    padding-left: 30px;
    padding-right: 30px;
    font-size: 15px;
    text-align: left;
}
.tableRowDPS {
    display: flex;
    flex: 20;
    color: white;
    justify-content: flex-start;
    align-items: center;
    padding-left: 30px;
    padding-right: 30px;
    text-align: left;
    font-size: 15px;
}

.paginationContainer {
    margin-top: 50px;
    align-self: center;
    
}


.AboutRaidContainer {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: stretch;
    background-color: #001520;
    padding-left: 5vw;
    padding-right:5vw;
    padding-top: 4px;
    padding-bottom: 4px;
    height: 58px;
    margin-top: 50px;
    border: 1px solid #555;
}

.AboutRaidImage{
    width:50px;
    height:50px;
    margin-right: 16px;
    align-self: center;
}

.AboutRaidTitle {
    color: white;
    font-size: 25px;
    text-align: left;
    align-self: center;
}

.CombatLogTableContainer {
    margin-left: 5vw;
    margin-right: 5vw;
    margin-top: 25px;
}